<h2>Live Books from Web API (jQuery)</h2>
<div id="apiBooks">Loading books from API...</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $.getJSON("http://localhost:5253/api/books", function (data) {
            let html = "<ul class='list-group'>";
            data.forEach(book => {
                html += `<li class='list-group-item'>
                            <strong>${book.title}</strong> by ${book.author} (${book.year})
                         </li>`;
            });
            html += "</ul>";
            $("#apiBooks").html(html);
        }).fail(function () {
            $("#apiBooks").html("<p style='color:red'>Could not load API (check console)</p>");
        });
    });
</script>